.jc-around {
    justify-content: space-around;
  }
  
  .jc-between {
    justify-content: space-between;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .jc-end {
    justify-content: end;
  }
  
  .jc-evenly {
    justify-content: space-evenly;
  }
  
  .jc-start {
    justify-content: start;
  }
  
  .ai-center {
    align-items: center;
  }
  .ai-end {
    align-items: flex-end;
  }
  .ai-start {
    align-items: flex-start;
  }
  .ai-stretch{
    align-items: stretch;
  }
  