@import "Colors";
@import "Font";

.action-btn {
  // border: 2px solid $red-1;
  color: $dark-1;
  transition: 0.3s;
  background-color: transparent;
  font-size: $font-sm;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: $red-1;
    color: $white-1;
  }
}
