@import "Colors";

@mixin icon($height, $width) {
  height: $height;
  width: $width;
}

$icon-sm: 16px;
$icon-default: 20px;
$icon-md: 24px;
$icon-lg: 32px;

.icon-white-1 {
  color: $white-1;
}

.icon-red-1 {
  color: $red-1;
}

.icon-sm {
  @include icon($icon-sm, $icon-sm);
}

.icon-default {
  @include icon($icon-default, $icon-default);
}

.icon-md {
  @include icon($icon-md, $icon-md);
}

.icon-lg {
  @include icon($icon-lg, $icon-lg);
}

.btn-icon {
  background-color: transparent;
  font-size: initial;
  cursor: pointer;
}

.spinning {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
