@import "Spacing";

.ma-none {
  margin: none;
}
.ma-auto {
  margin: auto;
}
.my-auto {
  margin: auto 0;
}
.mx-auto {
  margin: 0 auto;
}

//Spacing-1
.ma-1 {
  margin: $spacing-1;
}
.my-1 {
  margin-top: $spacing-1;
  margin-bottom: $spacing-1;
}
.mx-1 {
  margin-left: $spacing-1;
  margin-right: $spacing-1;
}
.mt-1 {
  margin-top: $spacing-1;
}
.mr-1 {
  margin-right: $spacing-1;
}
.mb-1 {
  margin-bottom: $spacing-1;
}
.ml-1 {
  margin-left: $spacing-1;
}

//Spacing-2
.ma-2 {
  margin: $spacing-2;
}
.my-2 {
  margin-top: $spacing-2;
  margin-bottom: $spacing-2;
}
.mx-2 {
  margin-left: $spacing-2;
  margin-right: $spacing-2;
}
.mt-2 {
  margin-top: $spacing-2;
}
.mr-2 {
  margin-right: $spacing-2;
}
.mb-2 {
  margin-bottom: $spacing-2;
}
.ml-2 {
  margin-left: $spacing-2;
}

//Spacing-3
.ma-3 {
  margin: $spacing-3;
}
.my-3 {
  margin-top: $spacing-3;
  margin-bottom: $spacing-3;
}
.mx-3 {
  margin-left: $spacing-3;
  margin-right: $spacing-3;
}
.mt-3 {
  margin-top: $spacing-3;
}
.mr-3 {
  margin-right: $spacing-3;
}
.mb-3 {
  margin-bottom: $spacing-3;
}
.ml-3 {
  margin-left: $spacing-3;
}

//Spacing-4
.ma-4 {
  margin: $spacing-4;
}
.my-4 {
  margin-top: $spacing-4;
  margin-bottom: $spacing-4;
}
.mx-4 {
  margin-left: $spacing-4;
  margin-right: $spacing-4;
}
.mt-4 {
  margin-top: $spacing-4;
}
.mr-4 {
  margin-right: $spacing-4;
}
.mb-4 {
  margin-bottom: $spacing-4;
}
.ml-4 {
  margin-left: $spacing-4;
}

//Spacing-5
.ma-5 {
  margin: $spacing-5;
}
.my-5 {
  margin-top: $spacing-5;
  margin-bottom: $spacing-5;
}
.mx-5 {
  margin-left: $spacing-5;
  margin-right: $spacing-5;
}
.mt-5 {
  margin-top: $spacing-5;
}
.mr-5 {
  margin-right: $spacing-5;
}
.mb-5 {
  margin-bottom: $spacing-5;
}
.ml-5 {
  margin-left: $spacing-5;
}

//Spacing-6
.ma-6 {
  margin: $spacing-6;
}
.my-6 {
  margin-top: $spacing-6;
  margin-bottom: $spacing-6;
}
.mx-6 {
  margin-left: $spacing-6;
  margin-right: $spacing-6;
}
.mt-6 {
  margin-top: $spacing-6;
}
.mr-6 {
  margin-right: $spacing-6;
}
.mb-6 {
  margin-bottom: $spacing-6;
}
.ml-6 {
  margin-left: $spacing-6;
}

//Spacing-7
.ma-7 {
  margin: $spacing-7;
}
.my-7 {
  margin-top: $spacing-7;
  margin-bottom: $spacing-7;
}
.mx-7 {
  margin-left: $spacing-7;
  margin-right: $spacing-7;
}
.mt-7 {
  margin-top: $spacing-7;
}
.mr-7 {
  margin-right: $spacing-7;
}
.mb-7 {
  margin-bottom: $spacing-7;
}
.ml-7 {
  margin-left: $spacing-7;
}

//Spacing-8
.ma-8 {
  margin: $spacing-8;
}
.my-8 {
  margin-top: $spacing-8;
  margin-bottom: $spacing-8;
}
.mx-8 {
  margin-left: $spacing-8;
  margin-right: $spacing-8;
}
.mt-8 {
  margin-top: $spacing-8;
}
.mr-8 {
  margin-right: $spacing-8;
}
.mb-8 {
  margin-bottom: $spacing-8;
}
.ml-8 {
  margin-left: $spacing-8;
}
