@import "Font";
@import "Spacing";
@import "Colors";

.table {
  display: table;
  overflow-x: auto;
  border-radius: 2px;
  border-collapse: collapse;
  width: 100%;

  thead tr {
    border-radius: 4px;
  }

  th {
    padding: $spacing-2;
    background-color: $red-1;
    color: $white-1;
    font-weight: $font-weight-bold;
  }

  th,
  td {
    padding: $spacing-2;
    font-size: $font-sm;
    text-align: left;
  }

  tbody tr:not(:nth-last-child(1)) {
    border-bottom: 1px solid lightgray;
  }

  tbody tr:nth-child(even) {
    background-color: $gray-light;
  }
}
