@import "Font";
@import "Colors";

.table {
  border-radius: 2px;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
  th,
  td {
    border: 1px solid lightgray;
    font-size: $font-sm;
  }

  th {
    padding: 4px;
    background-color: $red-1;
    color: $white-1;
    font-weight: $font-weight-bold;
    border-color: $red-1;
  }

  tr:hover {
    background-color: $gray-light;
  }
  td {
    padding: 6px;
    text-align: center;
  }
}
